
// Fonts
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "materialize.scss";

$occupation-color: color("yellow", "darken-2");
$minor-improvement-color: color("orange", "darken-2");
$major-improvement-color: color("pink", "darken-2");

.occupation-bg {
	background: $occupation-color !important;
}

.minor_improvement-bg {
	background: $minor-improvement-color !important;
}

.major_improvement-bg {
	background: $major-improvement-color !important;
}

.occupation-text {
	color: $occupation-color !important;
}

.minor_improvement-text {
	color: $minor-improvement-color !important;
}

.major_improvement-text {
	color: $major-improvement-color !important;
}